#delete-tag h1{
    color: #7C3AED;
}
#delete-img img{
    width: 300px; height: 300px;
}
#delete-msg p a{
    color: crimson;
}
#delete-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 3px 5px; 
    border-bottom: 1px solid #7C3AED;
    border-top: 1px solid #7C3AED;
}

/* --------------------------------------- */

form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form button{
    width: 120px; height: 50px;
    color: #fff;
    font-size: 18px;
    background-color: #C084FC;
    border: none;
    border-radius: 10px;
}
form button:hover{
    background-color: #7C3AED;
}
button[type="button"]{
    margin-left: 20px;
}